.wrapper {
    width: 100%;
}

.wrapper ul {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
}

.wrapper ul li {
    width: 70px;
    height: 70px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid #D8E2DC;
    transition: all 0.5s ease;
}

.wrapper ul li .fa {
    color: #D8E2DC;
    margin-top: 15px;
    transition: all 0.5s ease;
}

/*facebook*/
.wrapper ul li:hover.facebook {
    border: 5px solid #3b5998;
    box-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
    color: #3b5998;
    text-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
}

/*twitter*/
.wrapper ul li:hover.twitter {
    border: 5px solid #00aced;
    box-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
    color: #00aced;
    text-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
    border: 5px solid #bc2a8d;
    box-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
    color: #bc2a8d;
    text-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
}


/* whatsapp */
.wrapper ul li:hover.whatsapp {
    border: 5px solid #4dc247;
    box-shadow: 0 0 15px #4dc247;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-whatsapp {
    color: #4dc247;
    text-shadow: 0 0 15px #4dc247;
    transition: all 0.5s ease;
}

/* ***************MEDIA QUERIES************** */


@media screen and (max-width: 590px) {

    .wrapper {
        width: 100%;
    }
    .wrapper ul li {
        
        margin: 0px;
        cursor: pointer;
        border: none;
        transition: all 0.5s ease;
    } 
} 



