.services {
    display: flex;
    text-align: center;
    justify-content: space-around;

}

.content-sev-icon {
    background: black;
    width: 90px;
    height: 90px;
    margin: auto;
    border-radius: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services i {
    font-size: 3rem;
    color: #167ac7;
}

.service {
    margin: 200px 50px;
}

@media (max-width: 992px) {
    .services {
        flex-direction: column;
        padding: 100px 0px;
    }

    .service {
        margin: 80px 50px;
    }
}