*{
    box-sizing: border-box;
}
:root{
    scroll-behavior: smooth;
    --bgc-color: #785E2F;
    --bgc-color-secondary : #785f2fd2;

}

body{
    display: flex;
    flex-flow: column nowrap;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #000;
    color: white;
    text-align: center;
    min-height: 100vh;
}
/* HEADER */
    header{
        background-color: var(--bgc-color);
        color: white;
        transition: 700ms ease-in-out;
    }


    body.scrolled header {
        background-color: var(--bgc-color-secondary);
      }

      body.scrolled header #logo {
        width: 40px;
      }
        header img{
            width:60px;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

        }
       li a{
            color: white;
            text-decoration: none;
            padding: 10px 20px;
            text-align: center;
        }

       li a:hover,
       li a:focus,
       li a:active{
            background-color: rgba(19, 17, 17, 0.377);
            color: white
        }

 /* MAIN */
    main {
        display: flex;
        flex-direction: column;
    }

        #services p, #ourTeam p{
            text-align: justify;
        }

    aside > img{
        height: 150px;
    }

    #hero,#services, #portofolio, #ourTeam {
        scroll-margin-top:80px;
    }
    

    #contact{
            border: 2px solid black;
            display: flex;
            align-items: center;
            scroll-margin-top:200px;
        }

/* FOOTER */
    footer{
        display: flex;
        justify-content: space-around;
        background-color: var(--bgc-color);
    }

@media (max-width : 992px) {
    #hero, #portofolio-image{
        display: none;
    }
    #input, .btn {
        margin: 30px;
    }

    #contact div:first-child{
        border-bottom: 1px solid black;
    }
    h2{
        text-align: center;
        text-transform: uppercase;
        background-color: var(--bgc-color);
        /* border:1px solid black */
    }
}