/* RESET DE BOOTSTRAP */
ul {
	all: unset;
}

li {
	all: unset;
}

body {
	--progress-bar-grey: #999;
	--progress-bar-blue: rgb(0, 32, 212);
}

/* CSS */
.btns {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.view-disable {
	display: none;
}

.page-1,
.page-2,
.page-3,
.page-4 {
	height: 350px;
}

/* PAGE 2 */

.checkbox {
	display: none;
}

label img {
	scale: 1;
}

label {
	position: relative;
}

label::before {
	content: "✓";
	position: absolute;
	left: 95px;
	top: 20px;
	color: green;
	display: none;
}

:checked + label img {
	transform: scale(0.8);
}

:checked + label::before {
	display: block;
}

.page-2 img {
	width: 100px;
	height: 100px;
}

/* PAGE 4 */
.categories span {
margin: 0;
}


.categories span::after {
	content: "\A";
	white-space: pre;
}/* This pseudo element is here to add <br> withtout the balise itself */

/* PROGRESS-BAR */
ul {
	display: flex;
	justify-content: center;
}

ul li {
	color: var(--progress-bar-grey);
}

/* les ronds */
ul > li::after {
	content: "";
	display: block;
	position: relative;
	z-index: -9;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	bottom: 24px;
	right: 8px;
	border: 3px solid var(--progress-bar-grey);
}

/* les traits */
ul > li::before {
	content: "";
	display: block;
	position: relative;
	background-color: var(--progress-bar-grey);
	width: 65px;
	height: 3px;
	top: 14px;
	margin-left: 17px;
	margin-right: 7px;
	z-index: -99;
}

ul > li:last-child::before {
	display: none;
}

ul > li:last-child {
	position: relative;
	top: 2px;
	/* Cette propiété permet de corriger un décalage de 2px -> due au "display: none;" du selecteur: ul > li:last-child::before */
}

/* Ces propriétés permettent de modifier les speudos-éléments before et after en js */
.li-after-modifier::after {
	border-color: var(--bs-blue);
}

.li-before-modifier::before {
	background-color: var(--bs-blue);
}
