* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #000;
  color: white;
  text-align: center;
  min-height: 100vh;
}

a {
  color: white;
  text-decoration: none;
}

/* MISE EN PAGE */
/*  */
/* HEADER ---------------- HEADER */
/* NAV -----SECTION1------ ASIDE */
/* NAV -----SECTION2------ ASIDE */
/* FOOTER ---------------- FOOTER */

.container {
  background: #b7b7b7;
  display: grid;
  grid-template: 90px repeat(2, 1fr) 90px / 200px 1fr 200px;
  grid-template-areas: "header header header"
                       "nav sect1 aside"
                       "nav sect2 aside"
                       "footer footer footer";
  min-height: 100vh;
  gap: 4px 8px;
}
  .container > :not(.main) {
    padding: 10px;
  }
  header { grid-area: header }
  nav { grid-area: nav }
  section:first-of-type { grid-area: sect1 }
  section:last-of-type { grid-area: sect2 }
  aside { grid-area: aside }
  footer { grid-area: footer }

header { background-color: blueviolet; }
nav { background-color: crimson; }
section:first-of-type { background-color: cyan; }
section:last-of-type { background-color: lightgoldenrodyellow; }
aside { background-color: darkolivegreen; }
footer { background-color: chocolate; }
