header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: teal;
  color: white;
  font-weight: bold;
  height: 70px;
  letter-spacing: 3px;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px red, 1.5px 1.5px 1.5px red;
}
