<h1>Ajouter un ami</h1>

<form [formGroup]="formCreatePizza" (ngSubmit)="submitForm()">
  <input
    type="text"
    formControlName="name"
    placeholder="Nom de la pizza">
  <br>
  <select formControlName="category">
    <option value="" selected disabled>Choisissez...</option>
    <option *ngFor="let cat of categories" [ngValue]="cat">
      {{ cat }}
    </option>
  </select>
  <br>
  <input
    type="number"
    formControlName="price"
    placeholder="Prix de la pizza">
  <br>
  <div formArrayName="ingredients">
    <button (click)="addElement()">Ajouter un élément</button>
    <div *ngFor="let ingredient of ingredients.controls; index as i">
      <input
        type="text"
        [formControlName]="i"
        placeholder="Ingrédients de la pizza">
    </div>
  </div>
  <br>
  <button type="submit">Go !</button>
</form>
