<h1>Ajouter un ami</h1>

<form #friendForm="ngForm" (ngSubmit)="submitForm(friendForm)">
  <input
    required
    ngModel
    type="text"
    #name="ngModel"
    name="friendName"
    autocomplete="off"
    minlength="3"
    maxlength="10"
    placeholder="Nom">
    <div class="error" *ngIf="name.invalid && (name.dirty && name.touched)">
      Le nom doit contenir entre 3 et 10 lettres
    </div>
  <input
    required
    ngModel
    type="number"
    #age="ngModel"
    autocomplete="off"
    name="age"
    placeholder="Age">
  <input
    required
    ngModel
    type="email"
    pattern=".+@.+\..{2,4}"
    autocomplete="off"
    #email="ngModel"
    name="email"
    placeholder="Email">
    <button type="submit">Go !</button>
</form>

{{ friendForm.value |json }}
{{ friendForm.valid |json }}
