<h1>Ajouter un ami</h1>

<form [formGroup]="formCreatePizza" (ngSubmit)="submitForm()">
  <input
    type="text"
    formControlName="name"
    placeholder="Nom de la pizza">
  <br>
  <input
    type="text"
    formControlName="category"
    placeholder="Catégorie de la pizza">
  <br>
  <input
    type="number"
    formControlName="price"
    placeholder="Prix de la pizza">
  <br>
  <input
    type="text"
    formControlName="ingredients"
    placeholder="Ingrédients de la pizza">
  <br>
  <button type="submit">Go !</button>
</form>
