<ion-tabs>
  <ion-tab-bar color="primary" slot="bottom">

    <ion-tab-button tab="categories">
      <ion-icon name="list"></ion-icon>
      <ion-label>Catégories</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="headlines">
      <ion-icon name="earth"></ion-icon>
      <ion-label>Gros titres</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites">
      <ion-icon name="star-outline"></ion-icon>
      <ion-label>Favoris</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
