<app-header title="Gros titres"></app-header>

<ion-content>

  <ion-card
    color="light"
    class="ion-margin"
    *ngFor="let article of articles; index as i">
    <ion-card-subtitle class="ion-margin">
      <ion-text class="circle-nb" color="secondary">{{ i+1 }} </ion-text>
      <ion-text>{{ article.source.name }}</ion-text>
    </ion-card-subtitle>
    <ion-card-title class="ion-padding-horizontal ion-margin-bottom">
      {{ article.title }}
    </ion-card-title>
    <ion-img [src]="article.urlToImage"></ion-img>
    <ion-card-content>
      <p>{{ article.description }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
