<ion-header>
  <ion-toolbar>
    <ion-title>Gros titres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ion-margin" *ngFor="let article of articles; index as i">
    <ion-card-subtitle class="ion-margin">
      <ion-text color="primary">{{ i+1 }} </ion-text>
      <ion-text>{{ article.source.name }}</ion-text>
    </ion-card-subtitle>
    <ion-card-title class="ion-padding-horizontal ion-margin-bottom">
      {{ article.title }}
    </ion-card-title>
    <ion-img [src]="article.urlToImage"></ion-img>
    <ion-card-content>
      <p>{{ article.description }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
